$navy-blue: #0F1626;
$translucent-navy-blue: fade-out($navy-blue, 0.4);
$leather: #AB987A;
$translucent-leather: fade-out($leather, 0.4);
$coral: #FF533D;
$translucent-coral: fade-out($coral, 0.4);
$eggshell: #F5F5F5;
$translucent-eggshell: fade-out($eggshell, 0.4);

